# Boot menu configuration created by BikerOS

set timeout=5
set default=0

# Set for UEFI Secure Boot
menuentry 'BikerOS' {
    linux /vmlinuz-5.4.0-42-generic root=/dev/sda1 ro quiet splash
    initrd /initrd.img-5.4.0-42-generic
}

# Custom Visor Theme
set theme=/boot/grub/themes/visor/theme.txt

# Add custom background image
background_image /boot/grub/themes/visor/background.png

# Other customizations
set menu_color_normal=light-gray/black
set menu_color_highlight=green/black
