# Boot menu configuration created by BikerOS

set timeout=5
set default=0

# Set for UEFI Secure Boot
menuentry 'BikerOS' {
    linux /boot/vmlinuz-linux root=/dev/sda1 rw quiet splash
    initrd /boot/initramfs-linux.img
}

# Custom Visor Theme
set theme=/boot/grub/themes/visor/theme.txt

# Add custom background image
background_image /boot/grub/themes/visor/background.png

# Other customizations
set menu_color_normal=light-gray/black
set menu_color_highlight=green/black
