# Boot menu configuration created by BikerOS

set timeout=5
set default=0

# Set for UEFI Secure Boot
menuentry 'BikerOS' {
    # These paths are relative to the root of the ISO filesystem
    linux /arch/boot/x86_64/vmlinuz-linux archisoboot=/arch/boot/x86_64/archiso.img img_dev=/dev/disk/by-label/BikerOS_Unified_v1 img_loop=/arch/x86_64/airootfs.sfs quiet splash rw
    initrd /arch/boot/x86_64/initramfs-linux.img
}

# Custom Visor Theme
set theme=/boot/grub/themes/visor/theme.txt

# Add custom background image
background_image /boot/grub/themes/visor/background.png

# Other customizations
set menu_color_normal=light-gray/black
set menu_color_highlight=green/black
